<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

<head>
      <meta charset="utf-8">
      <title>BOOKWORM ADMIN</title>
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="">
      <meta property="og:type" content="">
      <meta property="og:url" content="">
      <meta property="og:image" content="">
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
      <!-- Template CSS -->
      <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <style>

          
              
            .image-preview-container {
                display: flex;
                flex-wrap: wrap;
            }
            .preview-wrapper {
                position: relative;
                margin: 10px;
            }
            .image-preview {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            .remove-btn {
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: red;
                color: white;
                border: none;
                border-radius: 50%;
                cursor: pointer;
            }
            mainimgoverlay{
                  top: 0;
                  left: 0;
                  opacity: 20%;
                  z-index: 5;
                  width: 100%;
                  height: 100%;
                  position: fixed;
                  background-color: #313131;
              }
              .modalformain{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
                  position: fixed;
                  top: 20%;
                  left: 20%;
                  z-index: 6;
                  width: 60%;
                  height: 60%;
                  border-radius: 20px;
                  opacity: 1;
                  background-color: white;
                  gap: 5px;
              }
              
              .modalformain img{
                  display: block;
                  width: auto;
                  height: 100%;
                  object-fit: contain;
              }
              .modalformain button{
                  padding: 5px 15px;
                  background: none;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
              }
              .imgmain{
                  background-color: #313131;
                  overflow: hidden;
                  width: 70%;
                  height: 70%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
              }
              .buttonmain{
                  height: 2rem;
              }
              
              #maincropbtn {
                  padding: 3px 11px;
                  font-size: 0.8rem;
                  background: white;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
                  position: absolute;
                  bottom: 0;
                  left: 15%;
              }
              #imgcropbtn1{
                  padding: 3px 11px;
                  font-size: 0.8rem;
                  background: white;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
                  position: absolute;
                  bottom: 0;
                  left: 7%; 
              }
              #imgcropbtn2{
                  padding: 3px 11px;
                  font-size: 0.8rem;
                  background: white;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
                  position: absolute;
                  bottom: 0;
                  left: 30%; 
              }
              #imgcropbtn3{
                  padding: 3px 11px;
                  font-size: 0.8rem;
                  background: white;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
                  position: absolute;
                  bottom: 0;
                  left: 52%; 
              }
              #imgcropbtn4{
                  padding: 3px 11px;
                  font-size: 0.8rem;
                  background: white;
                  border: 1px solid #ff3f00;
                  border-radius: 5px;
                  position: absolute;
                  bottom: 0;
                  left: 75%; 
              }
              .closecrop{
                  position: absolute;
                  font-size: 2rem;
                  top: 15px;
                  right: 15px;
                  border: none !important;
                  padding: 0 !important;
              }

        </style>
</head>

<body>
      <div class="screen-overlay"></div>
      <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                  <a href="index.html" class="brand-wrap">
                        <img src="/admin-assets\imgs\theme\bookWorm.png" class="logo" alt="Evara Dashboard">
                  </a>
                  <div>
                        <button class="btn btn-icon btn-aside-minimize"> <i
                                    class="text-muted material-icons md-menu_open"></i> </button>
                  </div>
            </div>
            <nav>
                  <ul class="menu-aside">
                        <li class=" ">
                              <a class="menu-link" href="adminDashboard"> <i class="icon material-icons md-home"></i>
                                    <span class="text">Dashboard</span>
                              </a>
                        </li>
                        <li class="">
                              <a class="menu-link" href="adminproduct"> <i
                                          class="icon material-icons md-shopping_bag"></i>
                                    <span class="text">Products</span>
                              </a>
                        </li>
                        <li class="">
                              <a class="menu-link" href="adminCategory"> <i
                                          class="icon material-icons md-shopping_cart"></i>
                                    <span class="text">Catagory</span>
                              </a>
                        </li>
                        <li class="">
                              <a class="menu-link" href="adminUser"> <i class="icon material-icons md-person"></i>
                                    <span class="text">Users</span>
                              </a>
                        </li>
                        <li class="">
                              <a class="menu-link" href="addCoupon"> <i
                                          class="icon material-icons md-shopping_cart"></i>
                                    <span class="text">Coupon</span>
                              </a>
                              
                        </li>
                              <li class="">
                                  <a class="menu-link" href="salesReport"> <i
                                              class="icon material-icons md-shopping_cart"></i>
                                        <span class="text">Sales</span>
                                  </a> 
                              </li>
                  </ul>
                  <hr>
                  
                  </ul>
                  <br>
                  <br>
            </nav>
      </aside>
      <main class="main-wrap">
            <header class="main-header navbar">
                  <div class="col-search">
                        <form class="searchform">
                              <div class="input-group">
                                    <input list="search_terms" type="text" class="form-control"
                                          placeholder="Search term">
                                    <button class="btn btn-light bg" type="button"> <i
                                                class="material-icons md-search"></i></button>
                              </div>
                              <datalist id="search_terms">
                                    <option value="Products">
                                    <option value="New orders">
                                    <option value="Apple iphone">
                                    <option value="Ahmed Hassan">
                              </datalist>
                        </form>
                  </div>
                  <div class="col-nav">
                        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                                    class="material-icons md-apps"></i> </button>
                        <ul class="nav">
                              <li class="nav-item">
                                    <a class="nav-link btn-icon" href="#">
                                          <i class="material-icons md-notifications animation-shake"></i>
                                          <span class="badge rounded-pill">3</span>
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link btn-icon darkmode" href="#"> <i
                                                class="material-icons md-nights_stay"></i> </a>
                              </li>
                              <li class="nav-item">
                                    <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                                class="material-icons md-cast"></i></a>
                              </li>
                              <li class="dropdown nav-item">
                                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                          aria-expanded="false"><i class="material-icons md-public"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                          <a class="dropdown-item text-brand" href="#"><img
                                                      src="/admin-assets/imgs/theme/flag-us.png"
                                                      alt="English">English</a>
                                          <a class="dropdown-item" href="#"><img
                                                      src="/admin-assets/imgs/theme/flag-fr.png"
                                                      alt="Français">Français</a>
                                          <a class="dropdown-item" href="#"><img
                                                      src="/admin-assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                                          <a class="dropdown-item" href="#"><img
                                                      src="/admin-assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                                    </div>
                              </li>
                              <li class="dropdown nav-item">
                                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                          aria-expanded="false"> <img class="img-xs rounded-circle"
                                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                          <a class="dropdown-item" href="#"><i
                                                      class="material-icons md-perm_identity"></i>Edit Profile</a>
                                          <a class="dropdown-item" href="#"><i
                                                      class="material-icons md-settings"></i>Account Settings</a>
                                          <a class="dropdown-item" href="#"><i
                                                      class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                          <a class="dropdown-item" href="#"><i
                                                      class="material-icons md-receipt"></i>Billing</a>
                                          <a class="dropdown-item" href="#"><i
                                                      class="material-icons md-help_outline"></i>Help center</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item text-danger" href="#"><i
                                                      class="material-icons md-exit_to_app"></i>Logout</a>
                                    </div>
                              </li>
                        </ul>
                  </div>
            </header>
            <section class="content-main">
                  <div class="container">
                        <div class="row">
                              <div class="col-lg-7">
                                    <div class="content-header">
                                          <h2 class="content-title">Add New Product</h2>
                                    </div>
                                    <% if(locals.error){ %>
                                          <p class="alert alert-danger"><%= locals.error %></p>
                                    <% } %>
                                    <div class="card mb-4">
                                          <div class="card-header">
                                                <h4>Basic</h4>
                                          </div>
                                          <div class="card-body ">
                                                      <form method="post"  enctype="multipart/form-data" id="pdtform">
                                                      <div class="mb-4">
                                                            <label for="product_name" class="form-label">Product
                                                                  title</label>
                                                            <input type="text" placeholder="Type here"
                                                                  class="form-control" id="product_name"
                                                                  name="product_name" onblur="nameFun()">
                                                            <p id="nameErr" class="text-danger"></p>

                                                      </div>
                                                      <div class="mb-4">
                                                            <label class="form-label">Full description</label>
                                                            <textarea placeholder="Type here" class="form-control"
                                                                  rows="4" id="product_des" name="product_des"
                                                                  onblur="desFun()"></textarea>
                                                            <p id="desErr" class="text-danger"></p>

                                                      </div>
                                                      <div class="row">
                                                            <div class="col-lg-4">
                                                                  <div class="mb-4">
                                                                        <label class="form-label">Regular Price</label>
                                                                        <div class="row gx-2">
                                                                              <input placeholder="$" type="number"
                                                                                    class="form-control" id="regprice"
                                                                                    name="regprice" onblur="regFun()">
                                                                              <p id="regErr" class="text-danger"></p>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                  <div class="mb-4">
                                                                        <label class="form-label">Offer Price</label>
                                                                        <input placeholder="$" type="number"
                                                                              class="form-control" id="offprice"
                                                                              name="offprice" onblur="offFun()">
                                                                        <p name="offErr" id="offErr" class="text-danger"></p>
                                                                  </div>
                                                            </div>

                                                            <div class="col-lg-4">
                                                                  <label class="form-label"
                                                                        name="catName">Category</label>
                                                                  <select class="form-select" name="catName">
                                                                        <% if(locals.catData){%>
                                                                              <% catData.forEach(element=>{%>
                                                                                    <option value="<%=element._id%>">
                                                                                          <%= element.name %>
                                                                                    </option>
                                                                                    <%})%>
                                                                                          <%}%>
                                                                  </select>
                                                            </div>
                                                      </div>
                                             
                                                      
                                          </div>
                                    </div>
                              </div>
                              <div class="col-lg-5" style="margin-top: 74px;">
                                    <div class="row">
                                          <div class="col-lg-12">
                                                <div class="card mb-4">
                                                    <div class="card-header">
                                                        <h4>Media</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="input-upload">
                                                            <label for="Pro_img" class="form-label">Upload Images</label>
                                                            <input class="form-control" name="image" type="file" id="Pro_img" multiple onchange="previewImages()" onblur="validateImages()">
                                                            <input type="hidden" id="cropvaluesimg1" name="cropvaluesimg1" >
                                                            <input type="hidden" id="cropvaluesimg2" name="cropvaluesimg2" >
                                                            <input type="hidden" id="cropvaluesimg3" name="cropvaluesimg3" >
                                                            <input type="hidden" id="cropvaluesimg4" name="cropvaluesimg4" >
                                                            <div id="imagePreviewContainer" class="image-preview-container"></div>
                                                            <p class="text-danger text-center mb-15 mt-15" id="imageError"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                               
                                          <div class="col-lg-12">
                                                <div class="card mb-4">
                                                      <div class="card-header">
                                                            <h4>Inventory</h4>
                                                      </div>
                                                      <div class="card-body">
                                                            <div class="row gx-2">
                                                                  <div class="mb-4">
                                                                        <label for="product_name"
                                                                              class="form-label">Stock</label>

                                                                        <input type="number" class="form-control"
                                                                              id="stock" name="stock"
                                                                              onblur="stockFun()">

                                                                        <p id="stockErr" class="text-danger"></p>
                                                                  </div>
                                                            </div> <!-- row.// -->
                                                      </div>
                                                </div> <!-- card end// -->
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="mainimgoverlay" id="mainimageoverlay" style="display: none;"></div>
                  <div id="mainimagemodal" class="modalformain" style="display: none;"><div class="imgmain"><img src="" id="mainmodimg" alt=""></div><div class="buttonmain"><button type="button" id="cropsavebtn" style="display: none;">CROP</button><button type="button" id="cropsavebtn1" style="display: none;">CROP</button><button type="button" id="cropsavebtn2" style="display: none;">CROP</button><button type="button" id="cropsavebtn3" style="display: none;">CROP</button><button type="button" id="cropsavebtn4" style="display: none;">CROP</button></div><button class="closecrop">&times;</button></div>
                  <div style="padding-left:190px;">
                        <input class="btn btn-light rounded font-sm mr-5 text-body hover-up" type="submit" value="ADD">

                        <button class="btn btn-md rounded font-sm hover-up" id="delete"
                              onclick="cancel()">Cancel</button>
                  </div>
            </form>
            </section>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </main>
      <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
      <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
      <script src="/admin-assets/js/vendors/select2.min.js"></script>
      <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
      <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
      <!-- Main Script -->
      <script src="/admin-assets/js/main.js" type="text/javascript"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
      const previewContainer = document.getElementById('imagePreviewContainer');
      function nameFun() {
       
            const name = document.getElementById("product_name").value.trim();
            nameRegex = /^[a-zA-Z]{3,}$/;
            const nameError = document.getElementById("nameErr");

            if (name == "") {
                  nameError.innerHTML = "Product name is required"
            } else if (!nameRegex.test(name)) {
                  nameError.innerHTML = "Invalid Name, no spaces at the beginnig"
            } else {
                  nameError.innerHTML = "";
            }

      }

      function desFun() {
           
            const des = document.getElementById("product_des").value.trim();
            const desError = document.getElementById("desErr");

            if (des == "") {
                  desError.innerHTML = " Product description is required"
            } else {
                  desError.innerHTML = ""
            }
      }

      function regFun() {
        
            const reg = document.getElementById("regprice").value.trim();
            const regError = document.getElementById("regErr");


            const positiveNumberRegex = /^[0-9]*$/;

            if (reg === "" || !positiveNumberRegex.test(reg)) {
                  regError.innerHTML = "Invalid Price. Please enter a positive number.";
            } else {
                  regError.innerHTML = "";
            }
      }

      function offFun() {
         
            const op = document.getElementById("offprice").value.trim();
            const rp = document.getElementById("regprice").value.trim();
            const offError = document.getElementById("offErr");


            const positiveNumberRegex = /^[0-9]*$/;


            if (op === '' || !positiveNumberRegex.test(op)) {
                  offError.innerHTML = "Invalid Price. Please enter a positive number.";
            } else if (parseFloat(op) > parseFloat(rp)) {
                  offError.innerHTML = "Offer Price cannot exceed regular price.";
            } else {
                  offError.innerHTML = "";
            }
      }

      function stockFun() {
           
            const stock = document.getElementById("stock").value.trim();
            
            const stockError = document.getElementById("stockErr");

            if (stock == "") {
            
                  stockError.innerHTML = "Provide a valid stock"
            } else {
                  stockError.innerHTML = ""
            }

      }


   



      let selectedFiles = [];

    function previewImages() {
        const input = document.getElementById('Pro_img');
        const files = input.files;

        for (let i = 0; i < files.length; i++) {
            selectedFiles.push(files[i]);
        }

        // Clear previous previews
        previewContainer.innerHTML = '';

        selectedFiles.forEach((file, index) => {
            const reader = new FileReader();

            reader.onload = function (e) {
                const previewWrapper = document.createElement('div');
                previewWrapper.classList.add('preview-wrapper');

                const preview = document.createElement('img');
                preview.src = e.target.result;
                preview.id = `img${index+1}`
                preview.classList.add('image-preview');

                const removeBtn = document.createElement('button');
                removeBtn.innerText = 'x';
                removeBtn.classList.add('remove-btn');
                removeBtn.type = 'button';
                removeBtn.onclick = function () {
                    // Show SweetAlert confirmation
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'Do you want to remove this image?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, keep it'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Remove the preview and the file from the selectedFiles array
                            selectedFiles.splice(index, 1);
                            previewWrapper.remove();
                            Swal.fire(
                                'Deleted!',
                                'Your image has been removed.',
                                'success'
                            );
                        }
                    });
                };

                previewWrapper.appendChild(preview);
                previewWrapper.appendChild(removeBtn);
                previewContainer.appendChild(previewWrapper);
            };

            reader.readAsDataURL(file);
        });
        loadMain1()
        // Clear the input value to allow re-uploading the same file if needed
        input.value = selectedFiles;
    }
        
        function removeFile(index) {
            const dt = new DataTransfer();
            const input = document.getElementById('Pro_img');
            const { files } = input;
        
            for (let i = 0; i < files.length; i++) {
                if (index !== i) {
                    dt.items.add(files[i]);
                }
            }
        
            input.files = dt.files; // Set the new FileList to input
        }
        




      function validateImages() {
            const fileInput = document.getElementById('Pro_img');
            const imageError = document.getElementById('imageError');
            const allowedExtensions = ['jpg', 'jpeg', 'png'];
            console.log(selectedFiles)
        
            // Check if no file is selected
            if (selectedFiles.length === 0) {
                imageError.textContent = 'Image is required';
                return false;
            } else {
                imageError.textContent = '';
            }
        
            // Check each file for its extension
            for (const file of selectedFiles) {
                const fileExtension = file.name.split('.').pop().toLowerCase();
                if (!allowedExtensions.includes(fileExtension)) {
                    imageError.textContent = 'Invalid file format. Please upload JPEG or PNG files.';
                    return false;
                }
            }
        
            // All files have valid extensions
            return true;
        }
        
        function loadMain1(){   
            let cropper1;
            for(let i = 0 ; i < selectedFiles.length ; i++){
                  const imgcrop = document.createElement('button')
                  imgcrop.type = "button"
                  imgcrop.innerHTML = "CROP"
                  imgcrop.id = `imgcropbtn${i+1}`
                  imgcrop.classList.add = 'imgcrop'
                  previewContainer.appendChild(imgcrop)
            }

            function saveImgData(){
            
                  document.getElementById('mainimageoverlay').style.display = 'none'
                  document.getElementById('mainimagemodal').style.display = 'none'
                  if(document.getElementById('cropsavebtn1')){
                        document.getElementById('cropsavebtn1').style.display = 'none'
                  }
                  if(document.getElementById('cropsavebtn2')){
                        document.getElementById('cropsavebtn2').style.display = 'none'
                  }
                  if(document.getElementById('cropsavebtn3')){
                        document.getElementById('cropsavebtn3').style.display = 'none'
                  }
                  if(document.getElementById('cropsavebtn4')){
                        document.getElementById('cropsavebtn4').style.display = 'none'
                  }

            }
            function cropperInit(){
                  if(cropper1){
                        cropper1.destroy()
                  }
                  cropper1 = new Cropper(mainmodimg,{
                        aspectRatio:2/3,
                        viewMode:2,
                        scalable:false
                  })
                  return cropper1
            }
            const cropvaluesimg1 = document.getElementById('cropvaluesimg1')
            const cropvaluesimg2 = document.getElementById('cropvaluesimg2')
            const cropvaluesimg3 = document.getElementById('cropvaluesimg3')
            const cropvaluesimg4 = document.getElementById('cropvaluesimg4')

            const imgcropbtn1 = document.getElementById('imgcropbtn1')
            imgcropbtn1.addEventListener('click',()=>{

                  mainmodimg.src = document.getElementById('img1').src
                  document.getElementById('mainimageoverlay').style.display = 'block'
                  document.getElementById('mainimagemodal').style.display = 'flex'
                  document.getElementById('cropsavebtn1').style.display = 'block'
                  const crop = cropperInit()
                  document.getElementById('cropsavebtn1').addEventListener('click',()=>{
                  document.getElementById('img1').src = crop.getCroppedCanvas().toDataURL()
                  cropvaluesimg1.value = JSON.stringify(crop.getData())
                  saveImgData()
                  
            })

            })
            const imgcropbtn2 = document.getElementById('imgcropbtn2')
            imgcropbtn2.addEventListener('click',()=>{
                  mainmodimg.src = document.getElementById('img2').src
                  document.getElementById('mainimageoverlay').style.display = 'block'
                  document.getElementById('mainimagemodal').style.display = 'flex'
                  document.getElementById('cropsavebtn2').style.display = 'block'
                  const crop = cropperInit()
                  document.getElementById('cropsavebtn2').addEventListener('click',()=>{
                        document.getElementById('img2').src = crop.getCroppedCanvas().toDataURL()
                        cropvaluesimg2.value = JSON.stringify(crop.getData())
                        saveImgData()})

            })
            const imgcropbtn3 = document.getElementById('imgcropbtn3')
            imgcropbtn3.addEventListener('click',()=>{
                  mainmodimg.src = document.getElementById('img3').src
                  document.getElementById('mainimageoverlay').style.display = 'block'
                  document.getElementById('mainimagemodal').style.display = 'flex'
                  document.getElementById('cropsavebtn3').style.display = 'block'
                  const crop = cropperInit()
                  document.getElementById('cropsavebtn3').addEventListener('click',()=>{
                        document.getElementById('img3').src = crop.getCroppedCanvas().toDataURL()
                        cropvaluesimg3.value = JSON.stringify(crop.getData())
                        saveImgData()})

            })
            const imgcropbtn4 = document.getElementById('imgcropbtn4')
            imgcropbtn4.addEventListener('click',()=>{
                  mainmodimg.src = document.getElementById('img4').src
                  document.getElementById('mainimageoverlay').style.display = 'block'
                  document.getElementById('mainimagemodal').style.display = 'flex'
                  document.getElementById('cropsavebtn4').style.display = 'block'
                  const crop = cropperInit()
                  document.getElementById('cropsavebtn4').addEventListener('click',()=>{
                        document.getElementById('img4').src = crop.getCroppedCanvas().toDataURL()
                        cropvaluesimg4.value = JSON.stringify(crop.getData())
                        saveImgData()})

            })
            document.querySelectorAll('.closecrop').forEach(el=>{
                  el.addEventListener('click',()=>{
                        mainmodimg.src = ""
                        document.getElementById('mainimageoverlay').style.display = 'none'
                        document.getElementById('mainimagemodal').style.display = 'none'
                        if(document.getElementById('cropsavebtn1')){
                        document.getElementById('cropsavebtn1').style.display = 'none'
                        }
                        if(document.getElementById('cropsavebtn2')){
                        document.getElementById('cropsavebtn2').style.display = 'none'
                        }
                        if(document.getElementById('cropsavebtn3')){
                        document.getElementById('cropsavebtn3').style.display = 'none'
                        }
                        if(document.getElementById('cropsavebtn4')){
                        document.getElementById('cropsavebtn4').style.display = 'none'
                        }
                  })
            })
            }
            







      document.getElementById("pdtform").addEventListener("submit",(e)=>{
            stockFun()
            nameFun()
            desFun()
            regFun()
            offFun()
            validateImages()
         
             const nameErr=document.getElementById("nameErr")           
            const deErr=document.getElementById("desErr")
            const regErr=document.getElementById("regErr")
            const offErr=document.getElementById("offErr")
            const stockErr=document.getElementById("stockErr")
            const imageErr=document.getElementById("imageError")
         

            if(nameErr.innerHTML||deErr.innerHTML||regErr.innerHTML||offErr.innerHTML||stockErr.innerHTML||imageErr.innerHTML){
                 
                  e.preventDefault()
            }

      })


</script>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

</html>